html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #212529;
    color: #2b8a3e;
}

.navigation {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.btn {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #ced4da;
    padding: 5px;
    cursor: pointer;
    color: #2b8a3e;
    border: 1px solid green;
    border-radius: 5px;
}

.btn:hover {
    color: green;
}

.btn:active {
    background-color: white;
    color: black;
}

.container {
    font-size: 2rem;
    margin: 2.5rem 1.5rem;
    font-family: 'Chakra Petch', sans-serif;
}